<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Servin Baez Jessica Romina</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p> Te doy la bienvenida a mi Portfolio. 
                Soy Full Stack Developer Jr. Actualmente estoy explorando y ampliando mi conocimiento sobre la programación. 
                Empece con un curso de dos etapas con Argentina Programa: #SéProgramar y #YoProgramo. 
                Éste es mi primer proyecto, mi portfolio, de seguro vendrán muchos más. Espero sea de su agrado. 
                Gracias por su visita.</p>
        </span>
    </div>
</div>