.row{
    padding: 8px;
    background: rgb(6,92,106);
    background: linear-gradient(90deg, rgba(6,92,106,1) 0%, rgba(193,219,228,1) 50%, rgba(6,92,106,1) 100%);
}
footer{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}